APP_NAME=BlogAPI
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tuo-progetto.up.railway.app

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

FILESYSTEM_DISK=public
CACHE_STORE=file
QUEUE_CONNECTION=sync
SANCTUM_STATEFUL_DOMAINS=tuo-frontend.vercel.app
